@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <div>
            Index Page!  
            <form method="POST" action="/home/SampleForm">
                <input type="text" name="Input1"/>
                <input type="submit"/>
            </form>
        </div>
        <div>
            <a href="/home/logout">logout</a>
        </div>
    </body>
</html>