@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Sample Form</title>
    </head>
    <body>
        <div>
            Got a sample form result here oh yeah!
        </div>
    </body>
</html>